@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-900 text-slate-200 antialiased font-sans select-none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

/* Custom DAW-like sleek scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0c0f17;
}
::-webkit-scrollbar-thumb {
  background: #2a324b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3e496c;
}
